#root {
  margin: 0 auto;

  display: grid;
  grid-template-columns: 512px 512px;
  gap: 1em;

  max-height: 100vh;

  align-items: center;

  overflow: hidden;
}

@media (max-width: 1040px) {
  #root {
    grid-template-columns: unset;
    grid-template-rows: 50vh 50vh;
  }
}

#root > .controls {
  max-height: calc(min(100vh, 100%));
  overflow-y: auto;
}

video {
  max-height: 400px;
  width: 100%;
  background-color: black;
}

.danger {
  color: red;
  border-color: red;
}

input[type="text"], input[type="password"] {
  flex: 1;
}

fieldset {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: .5em;
}

form, label {
  flex: 1;
  display: flex;
  flex-direction: row;
  gap: .5em;
}

